.goodoldprice{color: #666666;font-size: 12px;text-decoration:line-through;width: auto;float: left;margin:2px 0 2px 10px;}
.goodnewprice{color: #666666;font-size: 14px;color: #FF7400;text-align: right;margin:2px 10px 2px 0;}
.gooddetail{width: 900px;height: auto;margin-bottom: 40px;float: left;margin-top: 20px;}
.goodbtn{margin-top:10px;text-align: center;background-color: #ff8700;width: 220px;height: 40px;margin-left: 20px;}
.goodtuijiantext{width: 100%;height: 40px;line-height: 40px;font-size: 16px;margin-top: 20px;padding-bottom: 5px;}
.wansellgood{width: 120px; height: 30px;text-align: center;border-radius: 5px;background: #FF7400;}
 .comment {
            font-size: 20px;
            color: #FF7400;
            list-style: none;
        }

        .commentli {
            float: left;
            line-height: 30px;
            cursor: pointer;
        }
        
.sellotheritem{height: 80px;background: rgba(238, 238, 238, 1);padding: 20px;margin-top: 10px;}
.detail_positionul>li{width: 110px;height: 40px;line-height: 40px;float: left;text-align: center;font-size: 14px;color: #fff;}
.detail_positionul>li>a{font-size: 14px;display: block;text-decoration: none;color: #000000;}
.detailclickli{background-color: #FFFFFF;border: solid;border-color: #FF7400;border-width: 1px 0px 0px 0px;}
.detailclickli>a{color: #FF7400;}

.goodjieshao{height: auto;padding: 20px;}
.goodjieshao img{
	width:100% !important;
}
.pingjia{}
/*商品详情*/
.detailhomeimgwrap{height: 300px;width: 360px;margin-left: 20px;margin-top: 20px;margin-right: 20px;float: left;position:relative;left:0;top:0;}
.detailhomeregionwrap{height: 26px;width: 78px;z-index:998;position:absolute;left:0;top:0;display:none}
.detailhomeregionbackground{height: 26px;width: 78px;z-index:998;background-color:#000;opacity:0.3;position:absolute;left:0;top:0;}
.detailhomeregion{height: 26px;width: 78px;z-index:999;text-align:center;line-height:26px;color:#fff;position:absolute;left:0;top:0;}
.detailhomeimg{height: 300px;width: 360px;position:absolute;left:0;top:0;}
.goodinfodiv{width: 480px;float: left;margin-top: 20px;padding-right: 20px;}
.gooddetailinfop{width: 100%;height: 40px;line-height: 40px;font-size: 16px;margin-left: 20px;}
.detailinfodiv{width: 252px;background: white;margin-top: 10px;}
.guangwangziyingp{width: 100%;height: 40px;line-height: 40px;font-size: 20px;font-family: ﻿bold;margin-left: 160px;}
.detailhomeimg2{width: 120px;height: 40px;float: left;margin-left: 20px;}


.tuijianbuynum{color: #666666;font-size: 14px;width: auto;float: left;margin:2px 0 2px 10px;}
.tuijiancommentnum{color: #666666;font-size: 14px;text-align: right;margin:2px 10px 2px 0;}
.tuijiangoodname{width:92% !important;margin:4%;line-height: 20px;width: 220px;font-size: 14px;}
