.messagediv{width: 1200px;height: auto;background: #FFFFFF;margin-top: 20px;padding-bottom: 20px;}
.messagediv2{width: 1200px;height: auto;margin-top: 20px;padding-left: 46px;}
.messagediv3{width: 800px;height: 67px;margin-left: 106px;}
.messagep1{font-size: 16px;color: #1B1B1B;float: left;}
.messagediv1{width: 1200px;margin-left: 20px;padding-top: 10px;}
.messagetitleimg{width: 16px;height: 16px;float: left;margin-top: 2px;}
.messageimg{width: 83px;height: 67px;float: left;}
.messagesumbp{color: #1B1B1B;font-size: 16px;float: left;}
.golook{color: #FF7400;font-size: 16px;margin-left: 20px;width: 80px;float: left;}
