@charset "utf-8";
*{padding:0px;margin:0px;}
body{min-width:980px;background-color:#fafafa;}
body,ul,h1{margin:0px;}
ul{list-style-type:none;}

a{text-decoration:none;}

/*--弹窗样式--*/

#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;}

.popup{
	width:1020px; 
	height:auto;
	background-color:#fff;
	position:absolute;
	z-index:100;
	border:1px solid #ebeaea;
	left:400px;
	top:96px;
	display:none;
}/* hovertree.com */
.popup .top_nav{
	width:532px;
	height:46px;
	background-image: url(../images/popup_top_bj.jpg);
	border-bottom:1px solid #ebeaea;
	position:relative;
	cursor:move;
}
.popup .top_nav i{width:35px;height:35px;background:url(../images/sucai_tubiao.png) -314px -5px;position:absolute;top:6px;left:8px;display:block; }
.popup .top_nav span{font:18px/18px 'microsoft yahei';color:#707070;display:block;position:absolute;top:13px;left:50px;}

.popup .top_nav a.guanbi { background:url(../images/popup_guanbi.png) repeat 0px 0px; width:35px; height: 35px; display: block; position:absolute;top:8px;right:10px;cursor:pointer;}
.popup .top_nav a.guanbi span { display: none;}
.popup .top_nav a.guanbi:hover { background: url(../images/popup_guanbi.png) repeat 0px -35px; }
.popup .min{width:1020px;height:auto;padding:10px;}

.tc_login{width:510px;height:380px;background-color:#fff;}
.tc_login .left{width:200px;height:380px;background-color:white;float:left;}
.tc_login .right{width:290px;height:380px;background-color:white;float:right;padding-right:10px;}
.tc_login .left h4{width:200px;height:20px;margin:20px 0 20px 0;font-size:15px;color:#666;text-align:center;}
.tc_login .left img{width:150px;margin:0 auto;display:block;border:1px solid #E3E3E3;padding:4px;}
.tc_login .left #hovertreedd{width:200px;height:30px;font:13px/18px 'microsoft yahei';color:#666;margin:20px 0 10px 0;text-align:center;display:block;}

.tc_login .right i{font-size:20px;color:#090;float:right;margin:15px 0 0px 0;}
.tc_login .right a{font:13px/18px 'microsoft yahei';color:#666;float:right;margin:16px 0 0px 6px;}
.tc_login .right a:hover{color:#06F;text-decoration: underline;}
.tc_login .right input{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 40px;
    padding:0 0 0 34px;
	margin:10px 0px 0px 10px;
    transition: background 0.3s ease-in-out;
    width: 220px;
	float:right;
}
.tc_login .right input:focus {
    outline: none;
    border-color: #019A0D;
    box-shadow: 0 0 0px #019A0D;
}
.tc_login .right .input_yh{background:url(../images/tc_login_yonghu.jpg) no-repeat left top;}
.tc_login .right .input_mm{background:url(../images/tc_login_mima.jpg) no-repeat left top;}
.tc_login .right .input_yh:focus{background:url(../images/tc_login_yonghu2.jpg) no-repeat left top;}
.tc_login .right .input_mm:focus{background:url(../images/tc_login_mima2.jpg) no-repeat left top;}
.tc_login .right .button{
-webkit-appearance: none;
    background:#36a803;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 255px;
	padding:0 50px 0 50px;
	font-weight: bold;
	}
.tc_login .right .button:hover {

    background: #019A0D;
}
.tc_login .right #hovertreedd{width:100%;height:30px;}
.tc_login .right #hovertreedd a{font:12px/18px 'microsoft yahei';color:#06F;}
.tc_login .right #hovertreedd a:hover{font:13px/18px 'microsoft yahei';color:#06F;text-decoration: underline;}
.tc_login .right hr{height:1px;border:none;border-top:1px dashed #E4E4E4;clear:both;margin:240px 0 5px 0px;}